__pycache__/
*.py[cod]

.DS_Store
.vscode/
.env
*.log
*.db
*.sqlite
*.sqlite3

venv/
.venv/

adapters/
output_model/

playground/messages/outputs/
aryan_zephyr_messages_fine_tuned/
aryan_shruti_messages_fine_tuned/
